<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="events.rnc" type="application/relax-ng-compact-syntax"?>
<root>
<events>
 <track type="1" name="early">
  <event>
    <title>Beginning of WW2</title>
    <date type="start">
      <year>1939</year>
      <era>20th century</era>
    </date>
    <date type="end">
      <year>1940</year>
      <era>20th century</era>
    </date>
    <description>Germany invades poland using a fast military strategy known as blitzkrieg. Britain and france declared war on Germany soon after which begins World War 2.</description>
    <lat>51.1789</lat>
    <lon>1.1713</lon>
  </event>

  <event>
    <title>Normandy D-Day Invasion</title>
    <date type="start">
      <year>1944</year>
      <month>09</month>
      <era>20th century</era>
    </date>
    
    <date type="end">
    <year>1945</year>
    <month>07</month>
      <era>20th century</era>
    </date>
    <description>Allied forces landed on the beaches of Normandy France opening a major western from against Germany.</description>
    <lat>38.9419</lat>
    <lon>20.7400</lon>
  </event>
  </track>
 
 <track type="2" name="mid">
  <event>
    <title>operation barbarossa</title>
    <date type="start">
      <year>1941</year>
      <month>06</month>
      <era>20th century</era>
    </date>
    
    <date type="end">
      <year> 1942</year>
      <era>20th century</era>
    </date>
    <description>Germany launched a massive invasion on the Soviet Union, which created an eastern front.</description>
    <lat>48.8533</lat>
    <lon>2.3692</lon>
  </event>
 
  <event>
    <title>Attack on Pearl Harbor</title>
    <date type="start">
      <year>1941</year>
      <month>12</month>
      <era>20th century</era>
    </date>
    <date type="end">
      <year>1942</year>
      <era>20th century</era>
    </date>
    <description>Japan attacks a naval base at Pearl Harbor, Hawaii. This attack lead the United States to enter the war.</description>
    <lat>48.8566</lat>
    <lon>2.3522</lon>
  </event>
 
  <event>
    <title>Victory in Europe</title>
    <date type="start">
      <year>1945</year>
      <month>05</month>
      <era>20th century</era>
    </date>
    <date type="end">
      <year>1945</year>
      <era>20th century</era>
    </date>
    <description>Germany surrendered to the allies, officially ending the war in Europe.</description>
    <lat>48.8656</lat>
    <lon>2.3212</lon>
  </event>
 </track>
</events>
</root>